.cover__link {
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 200px;
  color: white;
  text-decoration: none;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  padding: 33px 16px;
}

.cover__link::before {
  background: #2a2c2F;
  opacity: 0.3;
  transition: opacity .3s;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  content: "";
}

.cover__link:hover::before {
  background: #2a2c2F;
  opacity: 0.8;
}

@media screen and (min-width:425px) {
  .cover__link {
    min-height: 350px;
  }
  
}
@media screen and (min-width: 768px) {
  .cover__link {
    min-height: 480px;
    margin: 0 0 88px;
    padding: 115px 0;
  }
}

@media screen and (min-width: 1024px) {
  .cover__link {
    min-height: 640px;
    margin: 0 0 92px;
    padding: 195px 0;
  }
}

@media screen and (min-width: 1280px) {
  .cover__link {
    min-height: 740px;
    margin: 0 auto 92px;
    width: 1184px;
    padding: 245px 0;
  }
}