.lead__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  margin: 0 auto 16px;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    width: 720px;
    margin: 0 auto 32px;
  }
}

/* 
}

@media screen and (min-width: 1024px) {
    .header {
        padding: 28px 48px 48px 48px;
    }
    
}

@media screen and (min-width: 1280px) {
    .header {
        padding: 28px 48px 48px 58px;
    }
    
}
 */