.lang-switcher__item {
  font-size: 18px;
  line-height: 20px;
  margin: 0 18px 0 0;
  position: relative;

  }
  
.lang-switcher__item:hover {
  opacity: 0.8;
}


.lang-switcher__item:last-child {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .lang-switcher__item {
    font-size: 24px;
    line-height: 28px;
  }
}