:root {
    --basic-black: #000000;
    --basic-grey: #2A2C2F;
    --basic-white: #ffffff;
  }

.root {
  background-color: var(--basic-grey);
  font-family: Inter, Arial, Helvetica, sans-serif;
  width: 100%;
  color: var(--basic-white);
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
  max-width: 100%;
  overflow-x: hidden;
}



