.cover {
  min-height: 200px;
  width: 100%;
  box-sizing: border-box;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding: 33px 16px 33px 16px;
}

.cover:before {
  background: #2a2c2F4D;
  width: calc(100% + 32px);
  height: calc(100% + 33px);
  content: "";
  position: absolute;
  left: -16px;

}