.lead__caption {
  font-family: Inter;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 7px auto 0 16px;
}

@media  screen and (min-width: 425px) {
  .lead__caption {
    margin: 8px auto 0 24px;;
  }
  
}

@media  screen and (min-width: 1024px) {
  .lead__caption {
    margin: 8px auto 0 0;
  }
  
}