.footer__list {
  list-style-type: none;
  margin: 0 0 48px;
  padding: 0 0 0 0;
  font-size: 24px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    line-height: 18px;
    width: 100%;
    margin: 0;
  }
  
}