.lead__illustration {
  max-width: 100%;
  margin: 0;
}


@media screen and (min-width: 1024px) {
  .lead__illustration {
      padding: 0 48px;
  }
  
}

@media screen and (min-width: 1280px) {
  .lead__illustration {
      padding: 0 148px;
  }
  
}